<table class="accountTable" id="family">
<caption>Sign on Information</caption>
<tr>
	<th>Username</th>
	<th>Password</th>

</tr>
<tr>
	<th>{{family.userName}}</th>
	<th>{{family.password}}</th>
</tr>
</table>



<table class="accountTable">
<caption>Personal Information</caption>
<tr>
	<th>First Name</th>
	<th>Last Name</th>
	<th>Street</th>
	<th>City</th>
	<th>State</th>
	<th>Zip Code</th>
</tr>
<tr>
	<th>{{family.first_name}}</th>
	<th>{{family.last_name}}</th>
	<th>{{family.street}}</th>
	<th>{{family.city}}</th>
	<th>{{family.state}}</th>
	<th>{{family.zip_code}}</th>
</tr>
</table>

<table class="accountTable">
	<caption>Contact Information</caption>
	<tr>
		<th>Phone Number</th>
		<th>Email</th>
	</tr>
	<tr>
		<th>{{family.phoneNumber}}</th>
		<th>{{family.email}}</th>
	</tr>
</table>



